:host{
    display: flex;
    flex: auto;
    margin: 0;
    padding: 10px;
    h1{
        margin: 0;
        padding: 0;
        font-style: bold;
    }
    p{
        margin: 0;
        padding: 0;
        font-size: 16pt;
    }
}

div{
    display: flex;
    flex-direction: column;
    flex: auto;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 15vh;
}

mat-card{
    margin-left: 10px;
    width: 170px;
    height: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.infoValor{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
section{
    background-color: sandybrown;
}
table{
    width: 100%;
}