.container{
  display: flex;
  flex: auto;
  flex-direction: column;
}

router-outlet{
  flex: 0;
}
.example-container {
    width: 100vw;
    height: 100vh;
  }
  
  .example-sidenav-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .menu-sidenav {
    width: 18vw;
    background-color: rgba(255, 255, 255, 0.61);
  }

  .icone-menu{
      height: 20px;
      width: 20px;
  }

.nav{
  display: flex;
  flex-direction: column;
}

.btn-navegacao{
  height: 45px;
  border: none;
  font-family: 'Times New Roman', Times, serif, 'Arial Narrow', Arial, sans-serif;
  font-size: 16pt;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: flex-start;
  
}

.btn-navegacao:hover{
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.589);
  color: white;
  border-radius: 5px;
}

.vendedor{
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img{
    height: 200px;
    width: 98%;
  }
  h1{
    margin-bottom: 5px;
  }
}

header{
  padding: 6px 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}