<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="menu-sidenav" mode="side">
        <!-- <p *ngIf="showFiller">Menu de do sistema</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
        </button> -->
        <div class="vendedor">
            <img src="./../../assets/imagens/dog2.jpg" alt="foto-usuario">
            <h1>Vendedor dog</h1>
        </div>
        <div class="nav">
            <ng-container *ngFor="let navegacao of nav">
                <button class="btn-navegacao" [routerLink]="[navegacao.path]">
                    <img [src]="navegacao.icon">
                    <p>{{navegacao.nome}}</p>
                </button>
            </ng-container>
        </div>
    </mat-drawer>
    <div class="example-sidenav-content">
        <header>
            <div>
                <img src="./../../assets/icones/1x/outline_menu_black_36dp.png" style="cursor: grab;" alt="icone-menu"
                (click)="drawer.toggle()">
            </div>
            <div class="acount">
                <button mat-button [matMenuTriggerFor]="belowMenu">
                    <img src="assets/icones/user.png" style="cursor: grab;" alt="icone-menu">
                </button>
                <mat-menu #belowMenu="matMenu" yPosition="below">
                    <button mat-menu-item>Conta</button>
                    <button mat-menu-item (click)="sair()">Sair</button>
                </mat-menu>
            </div>


            
        </header>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>

</mat-drawer-container>