<form [formGroup]="form">
    <h1>Dados dos produtos</h1><p>{{situacao}}</p>
    <mat-form-field>
        <input matInput type="text"  placeholder="Nome" formControlName="nome">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Marca" formControlName="marca">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text"  placeholder="Modelo" formControlName="modelo">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text"  placeholder="Número de Serie" formControlName="numeroSerie">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number"  placeholder="Preço Compra" formControlName="precoCompra">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number"  placeholder="Preco Venda" formControlName="precoVenda">
    </mat-form-field>
        <div class="btn-cadastrar"  *ngIf="situacao == 'Novo'">
            <button mat-button (click)="cadastrar()">Cadastrar Produto</button>
        </div>
        <div class="btn-editar" *ngIf="situacao == 'Modificado'">
            <button mat-button (click)="editar()">Editar Produto</button>
        </div>
  </form>
