mat-form-field{
    width: 45%;
    margin-right: 5%;
}

button{
    background-color: rgb(73, 255, 73);
}

.btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
}