section{
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: auto;
    header{
        flex-direction: column;
        width: 100%;
        margin:10px 0px;
        h1{
            font-size: 32pt;
            font-style: bold;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
        }
        .menu-opcoes{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 60px;
        }
        .btn-adicionar{
            background-color: rgb(255, 0, 0);
        }
    }
}
table{
    width: 100%;
}